/* ================================== */
/* common                             */
/* ================================== */
html {
    font-family     : "Meiryo UI", "Hiragino Kaku Gothic ProN", sans-serif;
    font-size       : 1em;
    color           : #f4f4f4;
    background-color: rgb(32, 32, 32);
    text-align      : center;
}

a {        
    color               : #f4f4f4;
    text-decoration-line: none !important;
}

a:visited {
    color: #f4f4f4;
}

a:hover {
    color: #ff9900;
}

.coming-soon {
    color: #6e6e6e !important;
}

/* ---------------------------------- */
/* content item                       */
.item {
    display         : grid;
    background-color: #003663;
}
/* ---------------------------------- */



/* ================================== */
/* スマホ用CSS                         */
/* ================================== */
@media screen and (min-width: 360px) and (max-width: 600px)  {
    /* ================================== */
    /* header                             */
    /* ================================== */
    header {
        padding-top: 20px;
    }

    header .icon {
        display             : grid;
        width               : 320px;
        height              : 200px;
        margin              : auto;
        grid-template-rows  : 160px 40px;
        box-shadow          : 0.2em 0.2em #003663;
    }

    header .icon a {
        grid-row   : 1;
        font-size  : 6.5em;
        padding-top: 12px;
    }

    header .icon div {
        grid-row : 2;
        font-size: 1.2em;
    }

    .item a {
        grid-row    : 1;
        height      : 150px;
        font-size   : 4.5em;
    }

    .item a div {
        margin-top: 30px;
        background-color: #003663;
        font-weight: bold;
    }

    .item span {
        grid-row        : 2;
        height          : 35px;
        font-size       : 1.1em;
        background-color: #002646;
    }

    .item span div {
        margin-top: 6px;
    }

    /* ================================== */
    /* main                               */
    /* ================================== */
    section {
        margin          : auto;
        display         : flex;
        flex-direction  : column;
        justify-content : space-around;
        align-items     : center;
    }
}

@media screen and (min-width: 360px) and (max-width: 415px) {

    .item {
        width     : 320px;
        margin-top: 20px ;
    }

}

@media screen and (min-width: 415px) and (max-width: 600px) {

    /* ================================== */
    /* header                             */
    /* ================================== */
    header .icon {
        width             : 330px;
        height            : 280px;
        grid-template-rows: 230px 50px;
    }

    header .icon a {
        font-size  : 10em;
        padding-top: 12px;
    }

    /* ================================== */
    /* main                               */
    /* ================================== */
    section {
        width          : 415px;
        margin         : auto;
        display        : flex;
        justify-content: space-between;
        margin-top     : 20px;
    }

    .item {
        width     : 395px;
        margin-top: 20px ;
    }
}

/* ================================== */
/* PC用CSS                            */
/* ================================== */
@media screen and (min-width: 600px) {

    /* ================================== */
    /* header                             */
    /* ================================== */
    header {
        padding-top: 15px;
    }

    header .icon {
        display           : grid;
        width             : 330px;
        height            : 280px;
        margin            : auto;
        grid-template-rows: 230px 50px;
        box-shadow        : 0.2em 0.2em #003663;
    }

    header .icon a {
        grid-row   : 1;
        font-size  : 10em;
        padding-top: 12px;
    }

    header .icon div {
        grid-row : 2;
        font-size: 1.2em;
    }

    section {
        justify-content: space-between;
        display        : flex;
        margin         : auto;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {

    /* ================================== */
    /* main                               */
    /* ================================== */
    section {
        width          : 590px;
        margin-top     : 60px;
    }

    /* ---------------------------------- */
    /* content item                       */
    .item {
        width          : 135px;
        height         : 135px;
    }

    .item a {
        grid-row    : 1;
        height      : 100px;
        font-size   : 3.8em;
    }

    .item a div {
        margin-top      : 10px;
        background-color: #003663;
        font-weight     : bold;
    }

    .item span {
        grid-row        : 2;
        height          : 35px;
        font-size       : 0.95em;
        background-color: #002646;
    }

    .item span div {
        margin-top      : 7px;
    }
    /* ---------------------------------- */
}

@media screen and (min-width: 768px) and (max-width: 900px) {

    /* ================================== */
    /* main                               */
    /* ================================== */
    section {
        width     : 720px;
        margin-top: 50px;
    }
    
    /* ---------------------------------- */
    /* content item                       */
    .item {
        width          : 160px;
        height         : 160px;
    }

    .item a {
        grid-row       : 1;
        height         : 125px;
        font-size      : 4.5em;
    }

    .item a div {
        margin-top      : 20px;
        background-color: #003663;
        font-weight     : bold;
    }

    .item span {
        grid-row        : 2;
        height          : 35px;
        font-size       : 1.1em;
        background-color: #002646;
    }

    .item span div {
        margin-top: 6px;
    }
    /* ---------------------------------- */
}

@media screen and (min-width: 900px) and (max-width: 1100px) {

    /* ================================== */
    /* main                               */
    /* ================================== */
    section {
        width           : 850px;
        margin-top      : 20px;
        align-items     : flex-start;
    }

    /* ---------------------------------- */
    /* content item                       */
    .item {
        width           : 185px;
        height          : 185px;
    }

    .item a {
        grid-row    : 1;
        height      : 150px;
        font-size   : 4.5em;
    }

    .item a div {
        margin-top: 30px;
        background-color: #003663;
        font-weight: bold;
    }

    .item span {
        grid-row        : 2;
        height          : 35px;
        font-size       : 1.1em;
        background-color: #002646;
    }

    .item span div {
        margin-top: 6px;
    }
    /* ---------------------------------- */
    
}

@media screen and (min-width: 1100px) {

    /* ================================== */
    /* main                               */
    /* ================================== */
    section {
        width           : 900px;
        margin-top      : 30px;
        align-items     : flex-start;
    }

    /* ---------------------------------- */
    /* content item                       */
    .item {
        width           : 185px;
        height          : 185px;
    }

    .item a {
        grid-row    : 1;
        height      : 150px;
        font-size   : 4.5em;
    }

    .item a div {
        margin-top: 30px;
        background-color: #003663;
        font-weight: bold;
    }

    .item span {
        grid-row        : 2;
        height          : 35px;
        font-size       : 1.1em;
        background-color: #002646;
    }

    .item span div {
        margin-top: 6px;
    }
    /* ---------------------------------- */
}
